<a href="@Url.Action("ChangeCulture", "Home",   new { lang = "ba", returnUrl = this.Request.RawUrl })"><img src="~/Content/images/ico/ba.png" ></a>
<a href="@Url.Action("ChangeCulture", "Home",   new { lang = "en", returnUrl = this.Request.RawUrl })"><img src="~/Content/images/ico/gb.png"></a>