
@{
    ViewBag.Title = "Portfolio";
}

<section id="portfolio">
    <div class="container">
        <div class="center">
            <h2>Portfolio</h2>
            <p class="lead">Here you can find our most selling and last collection products</p>
        </div>
        <ul class="portfolio-filter text-center">
            <li><a class="btn btn-default active" href="#" data-filter="*">All Products</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".carpets">Carpets</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".rugs">Rugs</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".runners">Runners</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".PVC">PVC floor coverings</a></li>
        </ul><!--/#portfolio-filter-->
        @*<div class="row">*@
            <div class="portfolio-items">
                <div class="portfolio-item runners col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/staze/staza8.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                               
                                <a class="preview" href="~/Content/images/staze/staza8.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item runners col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/staze/staza2.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/staze/staza2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item runners col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/staze/staza3.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/staze/staza3.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item runners col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/staze/staza4.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/staze/staza4.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item runners col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/staze/staza5.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/staze/staza5.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item runners col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/staze/staza6.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/staze/staza6.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item runners col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/staze/staza7.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/staze/staza7.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item runners col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/staze/staza9.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/staze/staza9.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item carpets col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/carpets/carpet1.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/carpets/carpet1.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item carpets col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/carpets/carpet2.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/carpets/carpet2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item carpets col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/carpets/carpet3.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/carpets/carpet3.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item carpets col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/carpets/carpet4.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/carpets/carpet4.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item carpets col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/carpets/carpet5.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/carpets/carpet5.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item carpets col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/carpets/carpet6.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/carpets/carpet6.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item carpets col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/carpets/carpet7.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/carpets/carpet7.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item rugs col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/rugs/rug2.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/rugs/rug2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item rugs col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/rugs/rug1.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/rugs/rug1.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item rugs col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/rugs/rug5.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/rugs/rug5.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item rugs col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/rugs/rug6.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/rugs/rug6.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item rugs col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/rugs/sgreen.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/rugs/sgreen.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item rugs col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/rugs/slila.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/rugs/slila.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item rugs col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/rugs/sred.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/rugs/sred.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item rugs col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/rugs/slila2.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/rugs/slila2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item rugs col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/rugs/sred2.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/rugs/sred2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item rugs col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/rugs/sgrey.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/rugs/sgrey.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item PVC col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/vinil/vinil2.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/vinil/vinil2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item PVC col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/vinil/vinil.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/vinil/vinil.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item PVC col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/vinil/vinil3.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/vinil/vinil3.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item PVC col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/vinil/vinil4.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/vinil/vinil4.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item PVC col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/vinil/vinil5.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/vinil/vinil5.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item PVC col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/vinil/vinil6.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/vinil/vinil6.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item PVC col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Content/images/vinil/vinil7.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3>Visit our store to find out more</h3>
                                <a class="preview" href="~/Content/images/vinil/vinil7.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        @*</div>*@
    </div>
</section><!--/#portfolio-item-->

